* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}




::-webkit-scrollbar {
    background-color: #202324;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(77, 83, 86);
    border-radius: 30px;
}



/* Nav */
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: transparent;

    color: white;
    font-family: sans-serif;

    width: 100%;
    padding: 0 4rem;

    position: fixed;
    z-index: 4;
}

h1 {
    font-size: 2rem;
}

#navigation_links {
    align-self: center;
    position: relative;
}

#navigation_links a {
    color: white;
    font-size: 1rem;
    padding: .5rem;

    text-decoration: none;
}

#navigation_links a::before {
    content: '';
    position: absolute;

    top: 20px;

    height: 2px;
    width: 0;
    border-radius: 30px;

    background-color: white;
}

#navigation_links a:hover::before {
    width: 20px;
}



/* General Styles for sections*/

section {
    height: 100vh;
}

#table-container {
    background-image: url("../images/Fluorescent\ Foil\ 14\ -\ 16x9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#roster,
footer {
    background-color: black;
    color: white;
}

#fixtures,
#stats {
    background-color: white;
}



/* Table section */

#table-container {
    display: grid;

    place-items: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;

    background: linear-gradient(to right, rgba(33, 33, 33, 0.3), rgba(33, 33, 33, 0.3));
    z-index: 2;
}


.vertical-text {
    font-size: 3.5rem;
    font-family: sans-serif;
    color: white;

    transform: rotate(-90deg);

    position: absolute;
    left: -4vw;
    bottom: 30vh;
}


table {
    width: 80vw;
    height: 70vh;
    font-family: sans-serif;

    border-collapse: collapse;

    position: relative;
    left: 2vw;
    z-index: 3;
}

thead {
    background-color: black;
    color: white;
}

:is(thead th, tbody td):nth-child(1) {
    width: 30vw;
    padding-left: 5rem;
    text-align: left;
}

:is(thead th, tbody td):nth-child(2) {
    width: 20vw;
}

thead th {
    padding: .5rem;
}

tbody {
    background-color: white;
    text-align: center;
}

/* Rankings */

td::before {
    position: absolute;
    left: 2rem;
}

tbody tr {
    margin-top: 1rem;
}

/* tbody tr:nth-child(1)::before{
    content: '';
    background-color: slateblue;

    width: .5%;
    height: 10%;

    position: absolute;
    left: 0;
} */

tr:nth-child(1) td:nth-child(1)::before {
    content: '1';
}

tr:nth-child(2) td:nth-child(1)::before {
    content: '2';
}

tr:nth-child(3) td:nth-child(1)::before {
    content: '3';
}

tr:nth-child(4) td:nth-child(1)::before {
    content: '4';
}

tr:nth-child(5) td:nth-child(1)::before {
    content: '5';
}

tr:nth-child(6) td:nth-child(1)::before {
    content: '6';
}

tr:nth-child(7) td:nth-child(1)::before {
    content: '7';
}

tr:nth-child(8) td:nth-child(1)::before {
    content: '8';
}

tr:nth-child(9) td:nth-child(1)::before {
    content: '9';
}

tr:nth-child(10) td:nth-child(1)::before {
    content: '10';
}


/* Font awesome icon styles */
.fas {
    font-size: 1.5rem;
}

.fa-check-circle {
    color: lime;
}

.fa-times-circle {
    color: crimson;
}

.fa-minus-circle {
    color: slategray;
}







/* Fixtures section */
#fixtures {}

/* Stats section */
#stats {}

/* Roster section  */
#roster {}



/* Footer */
footer {
    text-align: right;
    margin: 0;
    padding: .1rem;

    font-size: 1.2rem;
    letter-spacing: 5px;

    font-family: sans-serif;
}

footer p {
    padding-right: 4rem;
}